<%- include('./partials/header.ejs') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/blog.css">
    <title>Bloggy</title>
</head>
<body>
    <div class="containerB">
        <h2 class="title">All Blogs</h2>
        <form action="/blog" method="GET">
            <button class="addBtn">Add +</button>
        </form>        

        <div class="blogs">
            <% blogs.forEach(blog => { %>
                <div class="blog-box">
                    <pre><%= blog %></pre>
                </div>
            <% }); %>
        </div>
    </div>
</body>

</html>
<%- include('./partials/footer.ejs') %>