<%- include('./partials/header.ejs') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/blog.css">
    <title>Bloggy</title>
</head>
<body>
    <div class="containerB">
        <h2 class="title">All Blogs</h2>
        <div class="btn">
            <button class="addBtn">Add +</button>
        </div>
    </div>
</body>
</html>
<%- include('./partials/footer.ejs') %>