<%- include('./partials/header.ejs') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/new.css">
    <title>Bloggy</title>
</head>
<body>
    <h2 class="title">New Blog</h2>
    <div class="containerN">
        <form action="">
            <input class="blogName" type="text">
            <textarea class="blogField" name="" id=""></textarea>
            <button class="postBTN">Post</button>
        </form>
    </div>
</body>
</html>
<%- include('./partials/footer.ejs') %>