body {
  margin: 0%;
}

.addBtn {
  border: none;
  border-radius: 5px;
  background-color: #4e31aa;
  padding: 12px 22px;
  color: white;
  font-size: 1.1rem;
}

.title {
  color: #0b0b0b;
  font-weight: 900;
  margin: 20px 30px;
  font-size: 1.6rem;
}

.containerB {
  height: 40rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 30px 10px 0;
}
