.containerF {
  background-color: #4e31aa;
  color: rgb(235, 222, 255);
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

p {
  display: inline-block;
  justify-content: space-around;
}
