.containerF {
  background-color: #032a39;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

p {
  display: inline-block;
  justify-content: space-around;
}
