/* MAIN */
body {
  margin: 0%;
  font-family: "Roboto", serif;
}

.containerH {
  background-color: #032a39;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

h2,
h3 {
  display: inline-block;
}

h3 {
  font-weight: 400;
  font-size: 1.1rem;
  margin-left: auto;
}

.navOptions h3 {
  display: inline-flex;
  justify-content: space-evenly;
  margin-left: 30px;
}
