body {
  background-color: #4e31aa;
}

.mainContainer {
  background-color: #fffefa;
  padding: 68px 0px;
}

h1 {
  text-align: center;
  margin: auto;
  font-size: 4.7rem;
  width: 70%;
  padding: 115px 0px 50px 0px;
}

.btn {
  display: flex;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 83px;
  border: none;
  border-radius: 5px;
  background-color: #4e31aa;
  padding: 12px 22px;
  color: white;
  font-size: 1.1rem;
}
